.main_detail {
  width: 100%;
  padding-top: 8rem;
  background: #232222;
}

.article_detail {
  color: white;
  padding: 5rem;
  margin: 0 auto;
  width: 90rem;

  & video {
    width: 100%;
    height: auto;
  }

  @media only screen and (max-width: 960px) {
    width: 100%;
  }

}

.article_detail__image {
  border-radius: 2rem;
  width: 100%;
  height: 50rem;
  object-fit: cover;

  @media only screen and (max-width: 750px) {
    height: 30rem;
  }
}

.detail_info__title {
  margin: 1rem 0;
  font-weight: bold;
  font-size: 4rem;
  text-transform: capitalize;
}

.detail_info__auteur {
  font-weight: bold;
  font-style: oblique;
  margin-bottom: 2rem;
}

.regular {
  font-weight: normal;
}

.detail_info__content {
  font-size: 2rem;
  margin-bottom: 5rem;
  line-height: 2.5rem;

  @media only screen and (max-width: 700px) {
    font-size: 1.8rem;
    line-height: 2rem;
  }
}

.button_flex {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.detail_info__relates {
  font-weight: bold;
  color: white;
  margin-top: 2rem;
  text-align: right;
  padding-bottom: 2rem;
}

.box_info__button {
  border: 0;
  background: #ef4352;
  color: white;
  font-weight: bold;
  border-radius: 1.5rem;
  font-size: 1.3rem;
  padding: 1rem 3rem;
}

.box_info__button::before {
  position: relative;
  margin-right: .5rem;
  content: '';
  background: url('../assets/images/relateBtn.png') no-repeat center right;
  background-size: contain;
  display: inline-block;
  width: 10px;
  height: 10px;
}
