.relates_main {
  padding-top: 8rem;
}

.twotale_flex {
  display: flex;
  margin-bottom: -2rem;
}

#list1,
#list2 {
  height: 70vh;
  width: 100%;
  display: inline-block;
  border: none;
  background: white;
  overflow-y: scroll;
}

#list2 {
  background-color: #232222;
}

#list2 .gutter img {
  height: 50vh;
}

.disable-scrollbars::-webkit-scrollbar {
  width: 0;
  background: transparent; /* Chrome/Safari/Webkit */
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

#list1 {
  background-color: #ef4352;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

#list2 .gutter {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

#list1 .gutter {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.gutter_text {
  width: 100%;
  padding: 8rem;
  position: absolute;
  color: white;
  top: 0;

  & p {
    font-family: 'gotham_narrow_book', sans-serif;
    line-height: 3rem;
    padding-bottom: 2rem;
    max-width: 40rem;
    font-size: 2rem;
  }
}

.right {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  text-align: right;

  & .gutter_hr {
    background: white;
    width: 100%;
  }
}

.gutter_hr {
  background-color: #232222;
  height: 1px;
  max-width: 20rem;
  margin-bottom: 2rem;
}

.gutter {
  height: 70vh !important;
  align-items: center !important;
}

.gutter img {
  height: 60% !important;
}

.gutter_text__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 4rem;
  font-family: 'monumentExtended_Regular', sans-serif;
  padding-bottom: 3rem;

  & span {
    font-family: 'monumentExtended_Ultrabold', sans-serif;
    display: block;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
  }
}

.highlight {
  font-family: 'gotham_narrow_black', sans-serif;
}

.gutter_title_right_1 {
  width: 30rem;
  height: 14rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.gutter_right_quote {
  font-family: 'gotham_narrow_book', sans-serif;
  font-style: oblique;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.gutter_left_quote {
  font-family: 'gotham_narrow_book', sans-serif;
  font-style: oblique;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.gutter_right_quote img,
.gutter_left_quote img {
  height: 4rem !important;
  width: auto;

  @media only screen and (max-width: 1000px) {
    display: none;
  }
}

.gutter_right_quote .quote {
  padding-bottom: 0 !important;
  padding-right: 2rem;
}

.gutter_left_quote .quote {
  padding-bottom: 0 !important;
  padding-left: 2rem;
}
