.relates_main {
  padding-top: 8rem;
}

.twotale_flex {
  display: flex;
  margin-bottom: -2rem;
}

#list1,
#list2 {
  height: 70vh;
  width: 100%;
  display: inline-block;
  border: none;
  background: white;
  overflow-y: scroll;
}

#list2 {
  background-color: #232222;
}

#list2 .gutter img {
  height: 50vh;
}

.disable-scrollbars::-webkit-scrollbar {
  width: 0;
  background: transparent; /* Chrome/Safari/Webkit */
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

#list1 {
  background-color: #ef4352;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

#list2 .gutter {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

#list1 .gutter {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.gutter_text {
  padding: 4rem;
  position: absolute;
  color: white;
  top: 0;
}

.gutter {
  height: 70vh !important;
  align-items: center !important;
}

.gutter img {
  height: 60% !important;
}
