.twotale {
  z-index: -9999;
}

.cover-img {
  background-size: cover;
  padding-top: 100vh;
  background-position: center;
}

.block-50 {
  width: 50%;
  display: inline-block;
  z-index: -100;
  background-color: #232222;
}

.panelCon {
  position: fixed;
  bottom: 0;
  left: 0;
  left: 50%;
  width: 50%;
  z-index: -9999;
  background-color: #232222;
}

.panel {
  width: 100%;
}

.gutter {
  height: 70vh;
  width: 50vw;
}

.gutter img {
  height: 70vh;
  position: relative;
  right: 0;
  float: right;
}

.panelCon .gutter img {
  height: 70vh;
  position: relative;
  left: 0;
  float: left;
}
