.twotale_main {
  padding: 15rem 0;
  background: #232222;
  color: white;

}

.twotale_subtitle {
  width: 60rem;
}

.twotales_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.twotales_link {
width: 100%;

& img {
  width: 100%;
}
}

.twotale_main__header {
  padding: 0 3rem;
}


.twotales_container__info {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}
