@import './css/reset.css';
@import './css/vars.css';
@import './css/admin.css';
@import './css/footer.css';
@import './css/twotale.css';
@import './css/verhalen.css';
@import './css/addtext.css';
@import './css/detail.css';
@import './css/navigation.css';
@import './css/relates.css';
@import url(https://fonts.googleapis.com/css?family=Montserrat);

@font-face {
  font-family: 'gotham_light';
  src: url(assets/fonts/GothamLight.woff);
}

@font-face {
  font-family: 'gotham_narrow_book';
  src: url(assets/fonts/GothamNarrow-Book.woff);
}

@font-face {
  font-family: 'gotham_narrow_black';
  src: url(assets/fonts/GothamNarrow-Black.woff);
}

@font-face {
  font-family: 'gotham_medium';
  src: url(assets/fonts/GothamMedium.woff);
}

@font-face {
  font-family: 'monumentExtended_Regular';
  src: url(assets/fonts/MonumentExtended-Regular.woff);
}

@font-face {
  font-family: 'monumentExtended_Ultrabold';
  src: url(assets/fonts/MonumentExtended-Ultrabold.woff);
}

@font-face {
  font-family: 'gotham_bold';
  src: url(assets/fonts/GothamBold.woff);
}

.subtext {
  font-family: 'gotham_narrow_book';
  font-size: 2rem;
  color: white;
  max-width: 60rem;
}

.copytext {
  font-family: 'gotham_light';
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

/* stylelint-disable */

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* stylelint-enable */

body {
  font-family: Arial, Verdana, sans-serif;
  font-size: 1.6rem;
  /* background-color: #232222; */
}

.fold {
  display: flex;
  color: white;
  padding-top: 8rem;
  height: 80vh;
}

.fold_black {
  position: relative;
  background-color: #232222;
  width: 70vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.fold_black_img {
  position: relative;
  right: 0;
  height: 100%;
  float: right;
}

.fold_red_img {
  position: relative;
  right: 0;
  height: 100%;
  float: left;
}

.fold_red {
  position: relative;
  background-color: #ef4352;
  width: 30vw;
  height: 100%;
  overflow: hidden;
}

.fold_text {
  margin-left: 4rem;
  max-width: 50rem;
}

.fold_text button {
  background: #ef4352;
  color: white;
  border-style: outset;
  border: none;
  height: 4rem;
  width: 20rem;
  text-shadow: none;
  text-transform: uppercase;
  font-family: 'gotham_narrow_book';
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fold_text button:hover {
  opacity: .8;
  cursor: pointer;
}

.cant_wait p {
  margin-bottom: 1rem;
  font-family: 'gotham_narrow_black';
  color: #ef4352;
}

.cant_wait a {
  text-decoration: none;
}

.social_logos {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 4rem;
}

.social_logos .footer_logos_img {
  margin-bottom: 1rem;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------
scroll
--------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.scroll_lines {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroll_lines div {
  margin: 1rem;
}

.scroll-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 4rem;
  margin-bottom: 3rem;
}

.scroll-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
}

.scroll-btn .mouse {
  position: relative;
  width: 35px;
  height: 55px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid white;
  border-radius: 23px;
}

.mouse-ball {
  position: absolute;
  display: block;
  top: 29%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
  background: white;
  border-radius: 50%;
  animation: ani-mouse 2.5s linear infinite;
}

.scroll_text {
  writing-mode: vertical-rl;
  font-size: 1rem;
}

@keyframes ani-mouse {

  0% {
    opacity: 1;
    top: 29%;
  }

  15% {
    opacity: 1;
    top: 50%;
  }

  50% {
    opacity: 0;
    top: 50%;
  }

  100% {
    opacity: 0;
    top: 29%;
  }
}

.stats {
  display: flex;
  color: white;
}

.stats_image {
  height: 20vh;
  background-color: #ef4352;
}

.stats_image_red {
  height: 20vh;
}

.stats_text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #232222;
  height: 20vh;
  width: 100%;
}

.stats_text p {
  color: #ef4352;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.stats_text .stats_aantal {
  color: white;
  font-family: 'gotham_narrow_black';
  font-size: 3rem;
}

.vr {
  width: 1px;
  background-color: #ef4352;
  height: 10vh;
}

.vr_responsive {
  width: 1px;
  background-color: #ef4352;
  height: inherit;
  margin-right: 1rem;
}

.vr_of {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-left: 2rem;
  margin-right: 2rem;
}

.vr_of_line {
  height: 4rem;
  width: 1px;
  background-color: white;
}

.vr_text {
  display: flex;
  margin: 2rem 0;
}

.boxke {
  border: 1px solid black;
  margin: 2rem;
  padding: 2rem;
  width: 30rem;
  border-radius: 2rem;
  color: black;
}

h1 {
  font-family: 'monumentExtended_Regular';
  font-weight: bold;
  font-size: 5rem;
  /* margin: 2rem 0; */
  color: white;
  text-transform: uppercase;
}

h1 span {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  color: #232222;
}

.inputfile {
  width: .1px;
  height: .1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.hidden {
  display: none;
}

/* style 4 */

.inputfile-4 + label {
  color: #d3394c;
}

.inputfile-4:focus + label,
.inputfile-4.has-focus + label,
.inputfile-4 + label:hover {
  color: #722040;
}

.inputfile-4 + label figure {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #d3394c;
  display: block;
  padding: 20px;
  margin: 0 auto 10px;
}

.inputfile-4:focus + label figure,
.inputfile-4.has-focus + label figure,
.inputfile-4 + label:hover figure {
  background-color: #722040;
}

.inputfile-4 + label svg {
  width: 100%;
  height: 100%;
  fill: #f1e5e6;
}

.box {
  display: flex;
}

.video_upload form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_radio {
  display: flex;
  justify-content: space-between;
}

.login_radio input {
  width: 2rem;
}

.admin_dashboard {
  background: #f7f7f7;
  display: flex;
}

.admin_nav {
  background: #232222;
  color: white;
  /* padding: 2rem; */
  width: 30rem;
  height: 100vh;
  font-weight: bold;

  & h2 {
    margin: 2rem 0;
    font-size: 2rem;
  }
}

.admin_header {
  position: fixed;
  z-index: 998;

  @media only screen and (max-width: 1030px) {
    display: none;
  }
}

.admin_home {
  width: 100%;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.admin_nav__inzendingen,
.admin_nav__hulp {
  padding-top: 2rem;
  width: 100%;
  padding-left: 2rem;

  & div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
  }

  & a {
    min-width: 25rem;
    border-radius: 3rem 0 0 3rem;
    background: #232222;
    padding: 1.5rem 3rem;
    margin: 1rem 0;
    text-decoration: none;
    color: white;
  }
}

main {
  width: 100%;
}

.admin__top_header {
  background: white;
  /* width: calc(100% - 30rem); */
  padding: 2rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30rem;

  & a {
    text-decoration: none;
    font-weight: bold;
    color: #b1b1b1;
  }

  & .submitform {
    font-size: 2rem;
    color: #232222;
  }

  & .submitform::after {
    position: relative;
    top: .3rem;
    margin-left: .5rem;
    content: '';
    background: url('./assets/images/logout.png') no-repeat center right;
    background-size: contain;
    display: inline-block;
    width: 20px;
    height: 20px;
  }

  @media only screen and (max-width: 1030px) {
    margin-left: 0;
  }
}

@media only screen and (max-width: 700px) {

  .logout_text {
    display: none;
  }
}

.dashboard_main {
  /* width: calc(100% - 30rem); */
  padding: 3rem;
  margin-left: 30rem;

  @media only screen and (max-width: 1030px) {
    margin-left: 0;
  }
}

.addadmin {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard_item {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 3rem;
  padding: 1rem;
  width: 25rem;
  min-height: 30rem;
  border-radius: 2rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .3);

  & img {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
  }

  & .dashboard_item__name {
    font-weight: bold;
    font-size: 2rem;
  }

  & .dashboard_item__button {
    min-width: 16rem;
    background: #fd294c;
    border-radius: .8rem;
    padding: 1rem 2rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  & .publiceer {
    background: #232222;
  }

  & .offline {
    background: #232222;
  }

  & .dashboard_item__type {
    position: relative;
    top: -1rem;
    font-size: 1.5rem;
  }
}

.edit {

  & .dashboard_item__type {
    position: relative;
    top: 0;
    font-size: 1.5rem;
  }
}

.storyitems {
  height: 100%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  @media only screen and (max-width: 1030px) {
    justify-content: center;
  }
}

.kruimelpad {
  color: #fd294c;
  font-weight: bold;
}

.admin_active {
  background: #fd294c !important;
}

.dashboard_flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  @media only screen and (max-width: 1030px) {
    justify-content: center;
  }
}

.dashboard_item__main {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 3rem 2rem;
  padding: 7rem;
  min-width: 20rem;
  width: 90rem;
  border-radius: 2rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .3);

  & p {
    outline: 0;
    font-weight: bold;
    margin-bottom: 3rem;
  }

  & input {
    border: 0;
    border-bottom: 1px solid black;
    font-size: 2rem;
    padding-left: 1rem;
  }

  & input:focus {
    outline: 0;
  }

  & textarea {
    font-size: 1.8rem;
    line-height: 2.9rem;
    padding: 1rem;
    width: 100%;
    height: 50rem;
    border-radius: 1rem;
    resize: none;
  }

  & video {
    width: 100%;
    height: auto;
  }

  @media only screen and (max-width: 1030px) {
    padding: 2rem;
    line-height: 3rem;
  }
}

.toggle_menu {
  display: none;
  border: 0;
  background: none;

  & img {
    width: 3rem;
  }

  @media only screen and (max-width: 1030px) {
    display: block;
  }
}

.adminbg {
  background: #f7f7f7;
}

.upload_manieren {
  display: flex;
  width: 100%;
  background-color: #232222;
  color: white;
}

.upload_manier_logo_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 16rem;
}

.upload_manier_logo_text img {
  margin-bottom: 2rem;
}

.upload_manier_logo_subtext {
  font-family: 'monumentExtended_Regular';
  text-transform: uppercase;
}

.upload_manieren_flex {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 4rem;
  padding-bottom: 10rem;
  padding-top: 10rem;
}

.upload_manieren_flex a {
  margin-top: 4rem;
  color: white;
}

.upload_manieren_container {
  background-color: #ef4352;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 4rem;
  padding: 4rem;
  width: 100%;
  max-width: 140rem;
}

.can_you_relate {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 50rem;
  text-align: center;
}

.can_you_relate h2 {
  font-family: 'monumentExtended_Regular';
  text-transform: uppercase;
  font-size: 4rem;
}

.can_you_relate div {
  margin-bottom: 2rem;
}

.can_you_relate p {
  font-family: 'gotham_narrow_book';
}

.can_you_relate p span {
  font-family: 'gotham_narrow_black';
}

.h2_relate {
  font-family: 'monumentExtended_Ultrabold';
  color: #232222;
  text-transform: uppercase;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

@media only screen and (max-width: 700px) {

  .upload_manieren_container {
    flex-direction: column;
    align-items: center;
    max-width: 40rem;
  }

  .vr_of {
    flex-direction: row;
  }

  .vr_of_line {
    height: 1px;
    width: 6rem;
    margin: 2rem;
    background-color: white;
  }

  .upload_manieren_container div {
    margin-bottom: 2rem;
  }
}

.upload_manier {
  display: flex;
  width: 40rem;
  align-self: center;
  justify-self: center;
  align-items: center;
}

.upload_manier .vr_responsive {
  background-color: white;
  margin: 1rem;
  height: 10rem;
}

.upload_manier h2 {
  font-size: 2rem;
  font-family: 'gotham_bold';
  margin-bottom: 1.5rem;
}

.twotales_link {
  display: flex;
  color: white;
}

.twotales_link_button {
  height: 20vh;
  width: 20vw;
  background-color: #232222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.twotales_link_button button {
  width: 16rem;
  height: 16rem;
  border-radius: 20px;
  background-color: #ef4352;
  border: none;
  color: white;
  font-size: 3rem;
  font-family: 'gotham_bold';
  line-height: 16rem;
  display: inline-block;
  text-align: center;
}

.twotales_link_text {
  background-color: #ef4352;
  height: 20vh;
  width: 100%;
}

.twotale_flex {
  display: flex;
  margin-bottom: -2rem;
}

#list1,
#list2 {
  height: 70vh;
  width: 100%;
  display: inline-block;
  border: none;
  background: white;
  overflow-y: scroll;
}

#list1 {
  background-color: #ef4352;
}

#list2 {
  background-color: #232222;
}

#list2 .gutter img {
  height: 70vh;
  justify-self: start;
  /* position: absolute;
  left: 0;
  float: left; */
}

#list1 .gutter img {
  height: 70vh;
  justify-self: end; /* position: absolute;
  left: 0;
  float: left; */
}

.disable-scrollbars::-webkit-scrollbar {
  width: 0;
  background: transparent; /* Chrome/Safari/Webkit */
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.twotale_title {
  position: absolute;
  top: 18%;
  left: 4%;
  z-index: 9999;
}

.twotale_title .vr_text .vr_responsive {
  background-color: white;
}

@media only screen and (max-width: 700px) {

  .stats {
    flex-direction: column;
  }

  .stats_image {
    display: none;
  }
}

@media only screen and (max-width: 1300px) {

  .social_logos {
    flex-direction: row;
  }

  .social_logos a {
    margin-right: 1rem;
  }
}

.gutter_bg_image_left_1 {
  background-image: url('assets/images/relates_background.png');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

.gutter_bg_image_left_2 {
  background-image: url('assets/images/relates_background2.png');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}
